# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Logs & Debug
# ===============================
*.log
debug.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Flask
# ===============================
instance/


# Datasets
fraudTrain.csv/
fraudTest.csv/
*.csv

train.py

# EDA outputs
eda_viz/